Options -Indexes
Options -Multiviews

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

RewriteRule ^home?$ index.html
RewriteRule ^kontak?$ kontak.html
RewriteRule ^petunjuk?$ petunjuk.html

RewriteRule ^kategori/Anak?$ kategori/anak.html
RewriteRule ^kategori/DuniaUsaha?$ kategori/duniaUsaha.html
RewriteRule ^kategori/PendidikanAntiKorupsi?$ kategori/pendidikanAntiKorupsi.html
RewriteRule ^kategori/Politik?$ kategori/politik.html
RewriteRule ^kategori/Umum?$ kategori/umum.html

RewriteRule ^kategori/PendidikanDasarDanMenengah?$ kategori/panduanPendidikanAntikorupsi/dasarMenengah.html
RewriteRule ^kategori/Pendidikantinggi?$ kategori/panduanPendidikanAntikorupsi/tinggi.html
